<% provide(:title, "Top") %>
<div class="center jumbotron">
  <h1>勤怠システム</h1>
  <%= link_to "ログイン", login_path, class: "btn btn-lg btn-primary" %>
  <p>アカウント作成は<%= link_to "こちら", signup_path %>から</p>
</div>
