<% provide(:title, 'All Users') %>

<h1>出勤中社員一覧</h1>

<div>
  <table class="table table-bordered table-condensed table-hover" id="table-attendance_at_work">
    <thead>
      <tr>
        <th>社員番号</th>
        <th>名前</th>
      </tr>    
    </thead>
    <tbody>
      <% @users.each do |user| %>  
        <tr>
            <td><%= user.employee_number %></td>
            <td><%= user.name %></td>
        </tr>
      <% end %>
    </tbody>  
  </table>
</div>