/* ユーザー情報テーブル */

.user-table {
  vertical-align: middle;
  text-align: center;
}

/* ユーザー情報下ボタン */
.btn-users-show {
  margin-top: -10px;
  margin-bottom: 10px;
}
.btn-check-log {
  margin-top: 3px;
}

/* ユーザー勤怠情報テーブル */
#table-attendances{
  th{
    vertical-align: middle;
    text-align: center;
  }
  td{
    vertical-align: middle;
    text-align: center;
  }
  .attendances_date_header {
    width: 4% ;
  }
  .attendances_time_header {
    width: 4% ;
  }
  .attendances_btn_header {
    width: 8% ;
  }
  .attendances_worktime_header {
    width: 4% ;
  }
  .attendances_note_header {
    width: 20% ;
  }
  .attendances_note_body {
    text-align: left;
  }

  /* 曜日 */
  .sat_day {
    color: #0000ff;
  }
  .sun_day {
    color: #ff0000;
  }
  .week_day {
    color: #000000;
  }
}

/* 入力フォーム */

.label-signup {
  margin-top: 5px;
}

.btn-signup {
  margin-top: 10px;
}

.label-user--edit {
  margin-top: 5px;
}

.btn-user--edit {
  margin-top: 10px;
}

/* ユーザー一覧ページ */
#table-users {
  td {
    vertical-align: middle;
  }  
}

/* 基本情報編集モーダルウインドウ */

.label-basic-info {
  margin-top: 5px;
}

.btn-basic-info {
  margin: 15px 0;
  width: 30%;
}

/* 検索フォーム */
.serach-lable {
  text-align: right;
}

/* 勤怠基本情報ヘッダ部 */
table.user-table tr td.basic_info_header {
  vertical-align: bottom;
}
/* 出勤中社員一覧テーブル */
#table-attendance_at_work {
  th,td {
    text-align: center;
  }  
}

/* 申請通知 */
.attendance_chg_req_info {
  color:#ff0000;
  font-weight: bold;
  border: solid 2px #ff0000;
}